<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<table>
  <tr>
    <td><div id="container" style="width: 45%; height: 400px; margin: 0 auto;float: left;"></div></td>
    <td>
      <table>
        <th><h1>Stats</h1></th>
        <tr><td><b>5,645,035</b></td></tr>
        <tr><td>Sessions</td></tr>
        <tr><td><b>785,085</b></td></tr>
        <tr><td>Uniques</td></tr>
        <tr><td><b>124 TB</b></td></tr>
        <tr><td>Downloaded</td></tr>
        <tr><td><b>about 5 hours</b></td></tr>
        <tr><td>Dwell Time</td></tr>
        <tr><td><b>Tue</b></td></tr>
        <tr><td>Busiest Tour</td></tr>
        <tr><td><b>5:00</b></td></tr>
        <tr><td>Busiest Hour</td></tr>
      </table>
    </td>
    <td>
      <table style="border-collapse: collapse;">
        <th><h1>Feed</h1></th>
        <tr><td class="td_pad"><span class="my_badge"></span>2 On Login Pages (9 today) . 162 People Online</td></tr>
        <tr style=" border: 1px solid #dddddd;border-collapse: collapse;"><td class="td_pad"><b>What's Happening at your Wi-Fi Hotspots</b><br/>An ever-growing list of events and things of significance.</td></tr>
        <tr style=" border: 1px solid #dddddd;border-collapse: collapse;"><td class="td_pad"><b>My First Fake Event</b><br/>Everything that happens appears here. This will fill up with information to help you understand your customers better.</td></tr>
        <tr style=" border: 1px solid #dddddd;border-collapse: collapse;"><td class="td_pad"><b>Get updates from your hotspots</b><br/>And even when people login. You can see another live feed when people are on your logins above.</td></tr>
      </table>
    </td>
  <tr/>
</table>
 <hr/>
<table>
  <tr>
    <td>
      <div id="pie_1" style="width: 30%; height: 400px; "></div>
    </td>
    <td>
      <div id="pie_2" style="width: 30%; height: 400px;"></div>
    </td>
    <td>
      <table style="border-collapse: collapse;">
        <th><h3>Top 10 Boxes</h3></th>
        <tr><td>Top Boxes By Total Sessions</td></tr>
        <tr style=" border: 1px solid #dddddd;border-collapse: collapse;"><td class="td_pad"><b>Summit Plymouth</b><span class="my_badge1">785412</span><br/>00-42-21-78-45-26 (Online) </td></tr>
        <tr style=" border: 1px solid #dddddd;border-collapse: collapse;"><td class="td_pad"><b>Hotel one</b><span class="my_badge1">92707</span><br/>00-23-12-25-45-85 (Online) </td></tr>
        <tr style=" border: 1px solid #dddddd;border-collapse: collapse;"><td class="td_pad"><b>Fulton Minot</b><span class="my_badge1">81432</span><br/>VC-45-56-85-75-45 (New) </td></tr>
        <tr style=" border: 1px solid #dddddd;border-collapse: collapse;"><td class="td_pad"><b>Highland</b><span class="my_badge1">80569</span><br/>00-24-56-45-41-D4 (Online) </td></tr>
        <tr style=" border: 1px solid #dddddd;border-collapse: collapse;"><td class="td_pad"><b>Hotel Nagina</b><span class="my_badge1">57096</span><br/>00-33-22-Da-10-65 (Online) </td></tr>
        <tr style=" border: 1px solid #dddddd;border-collapse: collapse;"><td class="td_pad"><b>Dominos</b><span class="my_badge1">56234</span><br/>00-22-45-56-78-26 (Online) </td></tr>
      </table>
    </td>
    <td>
      <table style="border-collapse: collapse;">
        <th><h3>Top 10 Locations</h3></th>
        <tr><td>Top Sites By Total Sessions</td></tr>
        <tr style=" border: 1px solid #dddddd;border-collapse: collapse;"><td class="td_pad"><b>Tower 2</b><span class="my_badge1">45678</span><br/>32 Heaven  Garden</td></tr>
        <tr style=" border: 1px solid #dddddd;border-collapse: collapse;"><td class="td_pad"><b>Third Floor</b><span class="my_badge1">435678</span><br/>Near village </td></tr>
        <tr style=" border: 1px solid #dddddd;border-collapse: collapse;"><td class="td_pad"><b>Tower 1</b><span class="my_badge1">15968</span><br/> Naroda Road </td></tr>
        <tr style=" border: 1px solid #dddddd;border-collapse: collapse;"><td class="td_pad"><b>First Floor</b><span class="my_badge1">75242</span><br/>Indiaa Street </td></tr>
        <tr style=" border: 1px solid #dddddd;border-collapse: collapse;"><td class="td_pad"><b>Tower 1 </b><span class="my_badge1">95362</span><br/>1 High Court </td></tr>
        <tr style=" border: 1px solid #dddddd;border-collapse: collapse;"><td class="td_pad"><b>Fifth Floor</b><span class="my_badge1">75214</span><br/>Hotel Hill </td></tr>
      </table>
    </td>
  </tr>
</table>
<style type="text/css">
 .my_badge{
    display: inline-block;
    min-width: 0px;
    padding: 3px 7px 2px 7px;
    font-size: 12px;
    height: 8px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: rgba(0, 128, 0, 0.55);
    border-radius: 10px;
    margin-right: 5px;
  }
   .my_badge1{
    display: inline-block;
    min-width: 0px;
    padding: 3px 7px  7px;
    font-size: 12px;
    height: 8px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: gray;
    border-radius: 10px;
    margin-right: 5px;
    float: right;
  }
  .td_pad{
    padding: 12px 20px 12px 12px;
  }
</style>
<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'areaspline'
        },
        title: {
            text: 'Average no of times login page display.'
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 150,
            y: 100,
            floating: true,
            borderWidth: 1,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
        },
        xAxis: {
            categories: [
                'Monday',
                'Tuesday',
                'Wednesday',
                'Thursday',
                'Friday',
                'Saturday',
                'Sunday'
            ],
        },
        yAxis: {
            title: {
                text: '%'
            }
        },
        tooltip: {
            shared: true,
            valueSuffix: ' %'
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            areaspline: {
                fillOpacity: 0.5
            }
        },
        series: [{
            name: 'iphone',
            data: [30, 41, 31, 50, 48, 88, 45]
        }, {
            name: 'ipad',
            data: [35, 35, 42, 34, 85, 57, 46]
        }, {
            name: 'android',
            data: [25, 58, 72, 64, 70, 75, 85]
        }, {
            name: 'windows',
            data: [11, 38, 73, 51, 78, 86, 89]
        }]
    });
});

$(function () {
    $('#pie_2').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 1,//null,
            plotShadow: false
        },
        title: {
            text: 'Audience'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Audience',
            data: [
                ['New',   300.0],
                ['Returning',   60]
            ]
        }]
    });
});
$(function () {
    Highcharts.setOptions({
     colors: ['#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263',      '#6AF9C4']
    });
    $('#pie_1').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 1,//null,
            plotShadow: false
        },
        title: {
            text: 'Visitor Loyalty'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Visitor',
            data: [
                ['New',   340.0],
                ['Returning',   20]
            ]
        }]
    });
});

</script>